/* section #formulario-contacto */

#text-center {
    color: white;
    padding-top: 2rem !important;
    font-size: 1.5rem;
}

.container h2 {
    text-align: center !important;
    margin-bottom: 2rem;
}

.form-contacto {
    margin-bottom: 3rem;
}

.form-contacto .form-control {
    font-size: 1rem;
}

#button {
    align-items: center;
    margin-bottom: 2rem;
}

.btn-gold-2 {
    color: rgb(238, 226, 177);
    font-weight: 700;
    font-size: 1rem;
    background-color: rgb(206, 181, 37);
    border-color: rgb(206, 181, 37);
}

