body {
    background-color: #efefef;
}

/* header */

#border {
    margin-top: 0;
    border-bottom: 0.2rem solid rgb(206, 181, 37);
}

/* header > slideshow */

.slidecard {
    width: 30%;
    height: auto;
    background: rgb(206, 181, 37);
    margin: 0;
    padding: 10px;
}

.blockquote {
    font-size: 100%;
    text-align: justify;
    padding: 0 5px 0 5px;;
    margin: 0;
}

.blockquote-footer {
    font-style: italic;
}

/* Page content */
/* section #servicos */

#servicos {
    border-bottom: 0.2rem solid rgb(206, 181, 37);
    text-transform: uppercase;
}


.image, .image:hover, .image:focus {
    display: block;
    height: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    font-weight: 600;
}

.logo-servicos {
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 0.7rem;
    width: 5rem;
    height: 5rem;
    background-color: rgb(206, 181, 37);
}

.servicos:hover {
    background-color: rgb(206, 181, 37);
}

/* Page content - #destaques */

.wrap-deck {
    margin-bottom: 2rem;
}

#publicacoes h2 {
    text-align: center;
    padding: 4rem 0;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #servicos, .card-img-top {
        display: none;
    }
    
    .card-deck {
        flex-flow: column wrap;
    }
}



