body {
    background-color: #efefef;
}

/* Page content - publicacoes */

 h2 {
    text-align: center;
    padding: 6rem 0;
    text-transform: uppercase;
}

.wrap-deck {
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .card-img-top {
        display: none;
    }
    
    .card-deck {
        flex-flow: column wrap;
    }
}
