body {
    /* background-color: #efefef; */
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Page content */
/* section #contabilidade, #gestao, #outsourcing, #consultoria */

h4 {
    text-transform: capitalize;
}

.parallax-bg-1, .parallax-bg-2, .parallax-bg-3, .parallax-bg-4 {
    padding-top: 15rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all linear;
    -moz-transition: all linear;
    transition: all linear;
    font-weight: 500;
}

.parallax-bg-1 {
    opacity: 0.7;
    background-image: url(../imagens/consulting.png);
}

.parallax-bg-2 {
    opacity: 0.7;
    background-image: url(../imagens/consulting1.jpg);
}

.parallax-bg-3 {
    opacity: 0.7;
    background-image: url(../imagens/consulting2.png);
}

.parallax-bg-4 {
    opacity: 0.7;
    background-image: url(../imagens/consulting3.jpg);
}

.service-title {
    padding-left: 2rem;
    text-align: left;
    opacity: 0.7;
}

.service-title spam {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: table;
    padding: 0.5rem;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #efefef;
}

.col-bg-c, .col-bg-w {
    padding: 2rem !important;
    opacity: 0.8;
}

.col-bg-c p, .col-bg-w p {
    text-align: justify;
}

.col-bg-c {
    background-color: #efefef;
}

.col-bg-w {
    background-color: white;
}

/*
Desligar parallax scrolling tablets e smartphones  */
@media only screen and (max-width: 1024px) {
.parallax-bg-1, .parallax-bg-2, .parallax-bg-3, .parallax-bg-4 {
    background-attachment: scroll;
    background-position: center center !important;
    }
}


