body {
    background-color: #efefef;
}

/* Page content */

#noticias {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

#titulo {
    padding: 2rem;
    text-transform: uppercase;
}

#data {
    color: rgb(112, 108, 108);
    text-transform: none;
}

#texto {
    text-align: justify;
    padding: 2rem;
}

#texto p strong {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    h3 {
        text-align: justify !important;
    }
}

